nav{
    width: 100%;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 45vw 1fr 1fr;
    grid-auto-rows: 5rem;
    grid-column-gap: 2rem;
    position: sticky;
    z-index: 1;
    top: 0;
}
.a1{
    text-decoration: none;
    color: rgb(209, 207, 207);
}
.nav1{
    display: grid;
    align-items: center;
    text-align: end;
}
.nav3{
    display: grid;
    align-items: center;
}
.nav2{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.page{
    height: 100vh;
    display: grid;
    align-content: space-between;
    /* margin-left: 10vh; */
    animation-name: change;
    animation-duration: 10s;
    animation-timing-function: ease-in;

}
*{
    margin: 0%;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input{
    height: 5vh;
    border-radius: 5px;
    background-color: black;
    border: 1px solid white;
    color: white;
    width: 15vw;
}
.a4{
    text-decoration: none;
    color: white;
}
.button1{
    background-color: blue;
    width: 5vw;
    height: 5vh;
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 10px;
}
.free{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 20vw;
    text-align: center;
    color: rgb(223, 217, 217);
    margin-bottom: 1vh;
}
.a3{
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    color: black;
}
.free2{
    border: 1px solid;
    width: 20vw;
    height: 8vh;
    border-radius: 7px;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: white;

}
.free3{
    width: 20vw;
    text-align: center;
    color: rgb(172, 168, 168);
}
.try{
    color: white;

}
/* .main{ */
    /* background-image: url(./1998x1124sr.webp) ; */
    /* background-size: 100% 100vh; */
    /* margin-top: 10vh; */
/* } */
.app{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    align-content: space-between;
    /* margin-right: 5rem; */
    /* margin-left: 5vw; */
    /* border: 1px solid; */
    /* text-align: center; */
    
}
input::placeholder{
    background-color: black;
    color: white;
}
.background-clip{
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}
/* .movie{
    width: 50vw;
    height: 30vh;
    border-radius: 10px;

} */
.p1{
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    text-decoration: none;
    color: black;

}
.item1{
    /* margin-left: 8vh; */
    margin-top: 2rem;
}
.list1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem,1fr));

    margin-top: 2rem;
    margin-bottom: 2rem;
}
.movie1{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    /* text-align: center; */
    box-shadow: 2px 2px 12px rgb(32, 32, 32);

}
.p2{
    width: 7rem;
    height: 7rem;
    text-align: center;
    margin-bottom: 2rem;
}
hr{
    color: rgb(223, 217, 217);
}
.bottom{
    display: grid;
    grid-template-columns: 25vw 50vw;
    margin-left: 5rem;
    margin-bottom: 2rem;
}
.disc{
    width: 40vw;
    height: 35vh;
    display: grid;
    grid-template-rows: 1fr 1f;
    align-content:space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 550;
}
.span1{
    border: 2px solid white;
    margin-left: 5px;
    border-radius: 5px;
    color: white;
}
.card{
    margin-top: 5vh;
}
.watch{
    width: 25vw;
    height: 30vh;
}
.watch1{
    width: 25vw;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
    box-shadow: 2px 2px 12px rgb(32, 32, 32);
}
iframe{
    box-shadow: 2px 2px 12px rgb(32, 32, 32);
    border-radius: 10px;
}
.days{
    width: 25vw;
    text-align: center;
    margin-top: 1vh;
}
.p3{
    color: rgb(94, 93, 93);
}
.about{
    width: 25vw;
    height: 30vh;
    border-radius: 10px;
    padding: 2vh;
    box-sizing: border-box;
    margin-top: 2vh;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
}
.span2{
    border: 2px solid black;
    margin-left: 5px;
    border-radius: 5px;
    color: black;
}
.infobox{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    overflow-y: scroll;
    margin-left: 8vh;
}
.info{
    width: 25vw;
    height: 40vh;
    margin-bottom: 2rem;
}
.all-about{
    background-color: #f0f0f2;
}
.space{
    padding: 3vh;
}
.copy{
    text-decoration: none;
    color: black;
}
footer{
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit,minmax(25rem,1fr)) ; */
    /* padding-top: rem; */
    margin-bottom: 3rem;
    margin-top: 3rem;
    /* display: flex;
    justify-content: space-between; */
    /* justify-items: end ; */
    /* grid-template-columns: repeat(auto-fit,minmax(5rem,1fr)) */
    /* justify-content: space-between; */
}
.movie-title{
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom:3rem ;
    text-decoration: none;

}
.video-logo{
    /* border: 1px solid; */
    /* position: relative; */
    /* left: 5vw; */
    /* text-align: center; */
    /* margin-right: 10vw; */
    width:35vw ;
    text-align: end;
}
.video-logo1{
    width: 45vw;
    /* border: 1px solid; */
    text-align: end;
    /* margin-left: 20vw; */
}
.video-image{
    width:30vw ;
    height:15vh;
}
.footer2{
    /* border: 1px solid ; */
    width: 45vw;
    text-align: end;
    margin-top: 2rem;
    /* display: inline-block; */
}
.footer1{
    /* border: 1px solid; */
    margin-left: 3rem;
    width: 45vw;
}
:hover.movie{
    border: 2px solid rgb(67, 67, 255);
    position: absolute;
}
:hover.a1{
    color: white;
    font-weight: 600;
}
.moviesub{
    width: 15rem;
    height: 9rem;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgb(32, 32, 32);
    margin-bottom: 1vw;
}
.list2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
    margin-top: 2rem;
    margin-bottom: 2rem;
}
:hover.moviesub{
    border: 2px solid rgb(67, 67, 255);
    position: absolute;
}

@keyframes change{
    0%{background-image: url(./monarch/monarch-legacy-of-monsters-3840x2160-17206.jpg);
       background-size: 100% 100vh;
    }
}